.sales__wrapper {
  margin-top: 5rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 500;
  }

  p {
    margin-top: 1.25rem;
    font-size: 1rem;

    span {
      color: var(--color-purple);
      font-weight: bold;
      font-size: 2.4rem;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin-top: 5rem;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sales__left {
        width: 29.5rem;

        p {
          font-size: .8rem;
        }

        h2 {
          font-size: 1.8rem;
          font-family: "Raleway-bd", sans-serif;
          font-weight: 900;
        }

        a {
          display: block;
          background: var(--color-yellow);
          width: 100%;
          padding: 1.25rem;
          margin-top: 1rem;
          text-align: center;
          transition: var(--transition);

          &:hover {
            background: var(--color-black);
            color: var(--color-white);
          }
        }
      }
    }
  }
}
