.documents__wrapper {
  margin-top: 7.5rem;

  h1 {
    font-size: 3.2rem;
    border-bottom: .05rem solid var(--color-black);
    max-width: 60rem;
    padding-bottom: .5rem;
  }

  .documents__list {
    margin-top: 7.5rem;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem 8rem;
      margin-top: 2rem;

      li {
        width: 35rem;
        border-top: .05rem solid #d7d7d7;
        border-bottom: .05rem solid #d7d7d7;
        transition: var(--transition);

        a {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          padding: .6rem;

          p {
            margin-left: 1.5rem;
          }

          &::before {
            position: absolute;
            content: "";
            width: .5rem;
            height: 2.85rem;
            background: var(--color-purple);
          }
        }

        &:nth-child(2) {
          a {
            &::before {
              background: #0066ff;
            }
          }
        }

        &:nth-child(3) {
          a {
            &::before {
              background: #f5ec9b;
            }
          }
        }
        &:nth-child(4) {
          a {
            &::before {
              background: #ff6950;
            }
          }
        }
        &:nth-child(5) {
          a {
            &::before {
              background: #ff00e5;
            }
          }
        }
        &:nth-child(6) {
          a {
            &::before {
              background: #ffb800;
            }
          }
        }
        &:nth-child(7) {
          a {
            &::before {
              background: #3300ff;
            }
          }
        }
        &:nth-child(8) {
          a {
            &::before {
              background: #8ce200;
            }
          }
        }
        &:nth-child(9) {
          a {
            &::before {
              background: #00ffc2;
            }
          }
        }

        &:hover {
          transform: translateX(.75rem);
          // transform: scale(1.01);
        }
      }
    }

    h2 {
      font-size: 1.6rem;
      // font-family: "Raleway-sb", sans-serif;
      font-weight: 500;
    }
  }
}

.documents__wrapper > p {
  width: 27rem;
  margin-top: 1rem;
  font-size: .8rem;
}

.documents__stages {
  margin-top: 7.5rem;

  h2 {
    font-size: 1.6rem;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3.35rem;
    margin-top: 2rem;

    li {
      width: 16.75rem;

      p {
        &:first-child {
          font-size: 1.2rem;
          margin-bottom: .5rem;
          font-family: "Raleway-sb", sans-serif;
        }

        span {
          color: var(--color-purple);
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 150%;
            top: 50%;

            width: 4rem;
            height: .2rem;

            background: var(--color-purple);
          }
        }
      }
    }
  }
}
