.faq {
  margin-top: 100px;

  @media (max-width: 448px) {
    margin-top: 40px;
  }
}

.faq__wrapper {
  h1 {
    margin-bottom: 60px;
    font-size: 72px;
    font-weight: 900;
    font-family: "Raleway-bd", sans-serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 45px;

    li {
      width: 100%;
      border: 1px solid var(--color-black);
      padding: 30px 50px;
      border-radius: 50px;
      height: auto;
      // transition: height 0.5s ease-in;
      overflow: hidden;

      h4 {
        font-size: 24px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        padding-right: 80px;
        width: 100%;

        @media (max-width: 1441px) {
          font-size: 20px;
        }

        @media (max-width: 648px) {
          font-size: 18px;
        }

        @media (max-width: 448px) {
          padding-right: 0px;
          margin-top: 25px;
        }
      }

      p {
        margin-top: 20px;
        opacity: 0.8;
        text-indent: 20px;
        line-height: 180%;
        font-size: 18px;
        font-weight: 100;

        &:nth-child(2) {
          margin-top: 40px;
        }

        width: 80%;

        @media (max-width: 648px) {
          font-size: 14px;
        }

        @media (max-width: 448px) {
          width: 100%;
        }
      }

      position: relative;

      &::before {
        content: "";
        position: absolute;

        right: 40px;
        top: 50px;

        width: 60px;
        height: 1px;

        background: var(--color-black);

        @media (max-width: 448px) {
          width: 30px;
          top: 35px;
        }
      }

      &::after {
        content: "";
        position: absolute;

        right: 68px;
        top: 20px;

        width: 1px;
        height: 60px;

        background: var(--color-black);

        transition: var(--transition);

        @media (max-width: 448px) {
          height: 30px;
          right: 54px;
        }
      }

      @media (max-width: 448px) {
        border-radius: 40px;
        padding: 30px 20px;
      }
    }
  }
}

.faq__active::after {
  transform: rotate(90deg);
}
