.faq {
  margin-top: 5rem;
}

.faq__wrapper {
  h1 {
    margin-bottom: 3rem;
    font-size: 3.6rem;
    font-weight: 900;
    font-family: "Raleway-bd", sans-serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;

    li {
      width: 100%;
      border: .05rem solid var(--color-black);
      padding: 1.5rem 2.5rem;
      border-radius: 2.5rem;
      height: auto;
      // transition: height 0.5s ease-in;
      overflow: hidden;

      h4 {
        font-size: 1.2rem;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        position: relative;

        &::before {
          content: "";
          position: absolute;

          right: 0;
          top: 50%;

          width: 3rem;
          height: .05rem;

          background: var(--color-black);
        }

        &::after {
          content: "";
          position: absolute;

          right: 2%;
          top: -50%;

          width: .05rem;
          height: 3rem;

          background: var(--color-black);

          transition: var(--transition);
        }
      }

      p {
        margin-top: 1rem;
        opacity: 0.8;
        text-indent: 1rem;
        line-height: 180%;
        font-size: .9rem;
        font-weight: 100;

        &:nth-child(2) {
          margin-top: 2rem;
        }
      }
    }
  }
}

.faq__active::after {
  transform: rotate(90deg);
}
