.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 80vh;
  width: 100vw;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    left: -20%;

    width: 650px;
    height: 650px;

    background: rgba(113, 0, 226, 0.1);
    border-radius: 50%;
    filter: blur(80px);
  }

  &::after {
    content: "";
    position: absolute;

    right: -20%;
    top: 10%;

    width: 650px;
    height: 650px;

    background: rgba(113, 0, 226, 0.1);
    border-radius: 50%;
    filter: blur(80px);
  }
}

.head__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 993px;

  h1 {
    font-size: 96px;
    font-family: "Raleway-sb", sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
    width: 550px;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      bottom: 0;
      left: 50%;
      right: 50%;
      transform: translate(-50%, 50%);

      width: 550px;
      height: 1px;

      background: var(--color-black);
    }
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__wrapper__main {
  width: 880px;
}

.about__wrapper__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__wrapper__progress {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 80px;

  div {
    width: 100%;
    padding: 10px 5px;
    background: #181717;
    position: relative;

    p {
      color: var(--color-white);
      font-size: 16px;
      transform-style: preserve-3d;
    }

    &::before {
      content: "90%";
      position: absolute;

      display: flex;
      justify-content: right;
      align-items: center;
      padding-right: 10px;

      color: var(--color-white);
      font-size: 16px;

      top: 0;
      left: 0;

      width: 90%;
      height: 100%;

      background: var(--color-purple);
      transform: translateZ(-1px);
    }
  }
}

.about__wrapper__progress_2::before {
  content: "85%" !important;
  width: 85% !important;
}

.about__wrapper__progress_3::before {
  content: "80%" !important;
  width: 80% !important;
}

.about__wrapper__progress_4::before {
  content: "95%" !important;
  width: 95% !important;
}

.about__wrapper__main {
  a {
    display: block;
    text-align: center;
    width: 450px;
    padding: 15px;
    background: none;
    border: 1px solid var(--color-black);
    position: relative;
    overflow: hidden;
    transition: var(--transition);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 100%;

      width: 100%;
      height: 100%;

      background: var(--color-black);

      transition: var(--transition);
      z-index: -1;
    }

    &:hover {
      color: var(--color-white);

      &::before {
        top: 0;
      }
    }
  }
}

/* Why choose us */
.why_choose_us {
  margin-top: 50px;
}

.why_choose_us__wrapper > p {
  margin-top: 20px;
  width: 1100px;
  text-align: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    left: 50%;
    right: 50%;
    transform: translate(-50% 50%);

    top: 120%;

    width: 5px;
    height: 70px;

    background: #e1e1e1;
  }
}

.why_choose_us__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 48px;
    font-family: "Raleway-md", sans-serif;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 160px;

    li {
      display: flex;
      flex-direction: column;

      width: 745px;
      height: 230px;
      background: #f5f5f5;
      border-radius: 5px;
      padding: 20px;

      position: relative;

      transition: var(--transition);

      .why_choose_us__image {
        position: absolute;
        bottom: 80%;
        background: var(--color-white);
        border-radius: 10px;
        padding: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      }

      .why_choose_us__text {
        margin-top: auto;
      }

      &:hover {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

// How we work
.how_we_work {
  margin-top: 130px;
}

.how_we_work__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.how_we_work__left {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;

  h2 {
    font-family: "Raleway-sb", sans-serif;
    font-size: 48px;
    width: 700px;
  }

  p {
    margin-top: 30px;
    width: 600px;
    margin-left: 30px;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      left: -4%;

      width: 10px;
      height: 40px;

      background: var(--color-purple);
    }
  }

  a {
    margin-top: 30px;
    padding: 18px;
    width: 400px;
    text-align: center;
    background: var(--color-purple);
    color: var(--color-white);
    border-radius: var(--border-radius-lg);
    border: 1px solid var(--color-purple);

    transition: var(--transition);

    &:hover {
      background: none;
      color: var(--color-black);
    }
  }

  img {
    margin-top: 80px;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: -1px;
    left: -5%;

    width: 678px;
    height: 726px;

    border: 1px solid var(--color-black);
    z-index: -1;
  }
}

.how_we_work__right {
  width: 750px;

  ul {
    li {
      display: flex;
      justify-content: start;
      align-items: start;
      gap: 20px;
      margin-top: 30px;

      p {
        margin-top: 15px;
      }

      img {
        background: var(--color-white);
        border-radius: var(--border-radius-md);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        padding: 5px;
      }
    }
  }
}

// target
.target {
  height: 600px;
  width: 100vw;
  background: #f5f5f5;
  margin-top: 140px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.target__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 1010px;
  gap: 20px;

  h2 {
    font-size: 96px;
    font-family: "Raleway-sb", sans-serif;
    font-weight: 600;
  }

  a {
    margin-top: 40px;
    padding: 17px;
    background: var(--color-purple);
    color: var(--color-white);
    width: 450px;
    text-align: center;
    transition: var(--transition);

    &:hover {
      opacity: 0.8;
    }
  }
}
