.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 768px) {
    gap: 2rem;
    margin-top: 2rem;
  }

  svg {
    width: 100%;
    height: 1.45rem;

    @media (max-width: 768px) {
      height: 5rem;
    }
  }
}
