.links {
  display: flex;
  align-items: center;
  gap: 30px;

  & li:nth-child(1) {
    // telegram
    width: 33px;
    height: 29px;
  }

  & li:nth-child(2) {
    // vk
    width: 29px;
    height: 29px;
  }

  & li:nth-child(3) {
    // insta
    width: 29px;
    height: 28px;
  }

  & li:nth-child(4) {
    // youtube
    width: 41px;
    height: 28px;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 425px) {
    gap: 10px;
  }

  svg {
    width: 100%;
    height: 29px;

    @media (max-width: 425px) {
      height: 20px;
    }
  }
}
