.authors {
  h2 {
    font-size: 3.1rem;
    margin-top: 2rem;
    border-bottom: .05rem solid #eee;
    padding-bottom: .5rem;
  }
}

.authors__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
