.cursor {
  /* Ваши текущие стили */
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;

  /* Новые стили для mix-blend-mode */
  mix-blend-mode: difference;
  transition: all 0.15s linear;
}

.cursorLarge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
