.menu {
  position: absolute;

  left: 0;
  top: 7.5rem;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(.5rem);

  z-index: 9999;
}

.menu__top {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  margin-top: .5rem;
}

.menu__wrapper {
  a {
    &:hover {
      .menu__image {
        background: var(--color-purple);
      }
    }
  }
}

.menu__top__left,
.menu__top__right {
  background: var(--color-white);
  box-shadow: .15rem .05rem 1.75rem rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  border-radius: 2rem;
}

.menu__top__left {
  width: 45rem;
}

.menu__top__right {
  width: 30rem;
}

.menu__image {
  background: var(--color-black);
  border-radius: var(--border-radius-lg);
  width: 5rem;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition);
}

.menu__item a {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 1.6rem;
    font-family: "Raleway-md", sans-serif;
  }
}

.menu__top__left {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:last-child {
      margin-right: 7.5rem;
    }
  }
}

.menu__top__right {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}

.menu__bottom {
  display: flex;
  align-items: center;

  background: var(--color-white);
  border-radius: 2rem;
  margin-top: 1.5rem;
  width: 100%;
  padding: 1.5rem;
  box-shadow: .15rem .05rem 1.75rem rgba(0, 0, 0, 0.25);
}

.menu__bottom__main {
  width: 60%;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    right: 0;

    width: .05rem;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);
  }
}

.menu__bottom__main {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:last-child {
      li {
        &:last-child {
          margin-top: 1.75rem;
          a {
            padding: 1.65rem 6rem;
            font-size: 1.6rem;

            background: var(--color-black);
            color: var(--color-white);
            border-radius: var(--border-radius-lg);
            transition: var(--transition);
            border: .05rem solid var(--color-black);

            &:hover {
              background: none;
              color: var(--color-black);
            }
          }
        }
      }
    }
  }
}

.menu__bottom__other {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-left: 1.5rem;

  a {
    font-size: 1.6rem;
    font-family: "Raleway-md", sans-serif;
  }
}

.menu__bottom__policy {
  text-decoration: underline;
}
