@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-down {
  animation: slideDown 1s forwards;
}

.slide-up {
  animation: slideUp 1s forwards;
}

.notification {
  width: 670px;

  background-color: rgba(248, 248, 248, 0.6);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  border: 1px solid var(--color-black);

  position: fixed;
  top: 30px;
  left: 35%;
  transform: translateX(-35%);

  z-index: 9999;
}

.notification__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px;

  text {
    width: 420px;

    h4 {
      font-size: 32px;
      font-family: "Raleway-bd", sans-serif;
      font-weight: 700;
    }

    p {
      font-size: 20px;
      margin-top: 10px;
    }
  }

  button {
    background: none;
  }
}
