.head {
  margin-top: 50px;
}

.lines__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;

  ul {
    display: flex;
    justify-content: space-between;
    position: absolute;

    width: 100%;
    height: 9300px;
    margin-top: 73px;

    li {
      height: 100%;
      width: 1px;
      background: rgba(122, 122, 122, 0.3);

      &:nth-child(3) {
        margin-right: 14px;
      }
    }
  }
}

.head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head__left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.head__left h1 {
  font-size: 128px;
  font-family: "Raleway-eb", sans-serif;
  line-height: 103%;
  letter-spacing: 2%;
  width: 712px;
}

.head__left p {
  font-size: 20px;
  font-family: "Raleway-md", sans-serif;
  width: 712px;
  line-height: 120%;
  letter-spacing: 2%;
}

.head__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.head__links a {
  border-radius: 40px;
  font-family: "Raleway-md";
}

.head__links a:first-child {
  padding: 30px 120px;
  background: var(--color-purple);
  color: var(--color-white);
  border: 1px solid var(--color-purple);

  transition: var(--transition);

  &:hover {
    background: none;
    color: var(--color-dark);
  }
}

.head__links a:last-child {
  padding: 30px 70px;
  border: 1px solid var(--color-purple);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100px;
    background: var(--color-yellow);
    top: 0;
    left: -100%;

    z-index: -1;
    transition: var(--transition);
  }

  &:hover {
    border: 1px solid var(--color-yellow);

    &::before {
      left: 0%;
    }
  }
}

// Our services
.our__services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.our__services__services {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    right: 0;
    top: -5%;

    width: 100vw;
    height: 1px;

    background: rgba(122, 122, 122, 0.6);
  }
}

.our__services__services ul {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 150px;
  margin-top: 40px;
}

.our__services__services ul > li {
  width: 380px;

  h2 {
    font-size: 36px;
    font-family: "Raleway-eb", sans-serif;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      left: -20px;

      height: 70px;
      width: 10px;

      background: var(--color-purple);
    }
  }

  p {
    font-weight: 20;
    font-weight: 400;
    line-height: 120%;
    margin-top: 30px;
  }
}

.our__services__services ul > li:nth-child(2) {
  h2 {
    &::before {
      background: var(--color-yellow);
    }
  }
}

.our__services__services ul > li:nth-child(3) {
  h2 {
    &::before {
      background: var(--color-dark-gray);
    }
  }
}

.our__services__services ul > li:nth-child(4) {
  h2 {
    &::before {
      background: var(--color-red);
    }
  }
}

.our__services__advantages {
  display: flex;
  flex-direction: column;
  gap: 50px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: -55%;

    width: 1px;
    height: 1000px;

    background: rgba(122, 122, 122, 0.6);

    z-index: -1;
  }
}

.our__services__advantages > p {
  width: 500px;
  letter-spacing: 2px;
  opacity: 0.5;
  margin-left: 20px;
}

.our__services__advantages > ul {
  display: flex;
  width: 530px;
  border: 1px solid rgba(122, 122, 122, 0.6);
}

.our__services__advantages > ul > li {
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3 {
    font-size: 64px;
    font-weight: normal;
  }

  p {
    font-size: 18px;
  }
}

.our__services__advantages > ul > li:last-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background: rgba(122, 122, 122, 0.6);
  }
}

// Who we are
.whoweare__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  padding-top: 100px;
  position: relative;

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: -50%;

    width: 200%;
    height: 1px;

    background: rgba(122, 122, 122, 0.6);
  }
}

.whoweare__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 900px;
  margin-left: 60px;

  position: relative;

  p {
    line-height: 120%;
  }

  &::before {
    content: "";
    position: absolute;

    left: -30px;

    height: 110px;
    width: 10px;

    background: var(--color-purple);
  }
}

.whoweare__main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.whoweare__main h2 {
  font-size: 96px;
  font-family: "Raleway-bl", sans-serif;
}

.whoweare__links {
  margin-left: 60px;

  display: flex;
  gap: 60px;

  a {
    border-radius: var(--border-radius-md);
    color: var(--color-white);

    &:first-child {
      padding: 20px 160px;
      background: var(--color-purple);
    }

    &:last-child {
      padding: 20px 115px;
      background: var(--color-dark-gray);
    }
  }
}

// Advantages
.advantages {
  margin-top: 100px;
}

.advantages__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 64px;
    font-family: "Raleway-th", sans-serif;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      left: -1%;
      top: 35%;

      height: 30px;
      width: 175px;

      background: var(--color-yellow);

      z-index: -1;
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 725px;
  gap: 50px;
}

.advantages__list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages__list ul li {
  text-indent: 20px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    right: 101%;
    top: 15%;

    width: 5px;
    height: 5px;

    background: var(--color-purple);
  }
}

// Our team
.our__team {
  margin-top: 200px;
}

.our__team__wrapper {
  min-height: 700px;
}

.our__team__wrapper__top {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;

    left: 3%;
    top: 5%;

    width: 1161px;
    height: 100%;

    border: 1px solid var(--color-black);
    z-index: -1;
  }
}

.our__team__text {
  margin-top: 150px;

  h2 {
    font-size: 64px;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;
  }

  p {
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
    line-height: 120%;
    width: 930px;
  }
}

.our__team__list {
  margin-top: 100px;
}

.our__team__list > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.our__team__list > ul > li:last-child {
  margin-left: 170px;

  a {
    font-size: 48px;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      top: 40%;
      right: -10%;

      width: 160px;
      height: 20px;

      background: var(--color-yellow);
      transition: var(--transition);

      z-index: -1;
    }

    &::after {
      content: "";
      position: absolute;

      bottom: 30%;

      width: 60px;
      height: 60px;

      background-image: url("../../../public/icons/Arrow-Up.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transition: var(--transition);
    }

    &:hover {
      &::before {
        background: var(--color-red);
      }

      &::after {
        bottom: 40%;
        left: 100%;
      }
    }
  }
}

.our__team__list > ul > li:not(:last-child) {
  width: 520px;
  height: 600px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  background-image: url("../../../public/images/home/team/team-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .our__team__list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;

    width: 100%;
    padding: 15px;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-sm);

    backdrop-filter: blur(10px);

    & div:first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;

        left: 115%;

        width: 2px;
        height: 100%;

        background: var(--color-white);
      }
    }

    h3,
    li {
      font-size: 20px;
      color: var(--color-white);
    }

    p {
      font-size: 24px;
      color: var(--color-white);
    }

    ul {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-left: 20px;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;

          left: -8%;
          top: 25%;

          width: 10px;
          height: 10px;

          background: var(--color-white);
        }
      }
    }
  }
}

// Reviews
.reviews {
  margin-top: 100px;
}

.reviews__content {
  min-height: 1800px;
}

.reviews__main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: 31.9%;
    right: 0.4%;

    width: 0;
    height: 100%;

    background: url("../../../public/images/home/reviews-line-1.svg");
    background-position: center;
    background-repeat: no-repeat;

    z-index: -2;

    animation-name: drow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  &::after {
    content: "";
    position: absolute;

    bottom: 15%;

    width: 0;
    height: 100%;

    background: url("../../../public/images/home/reviews-line-2.svg");
    background-position: center;
    background-repeat: no-repeat;

    z-index: -2;

    animation-name: drow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}

@keyframes drow {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.reviews__main__image {
  position: absolute;
  right: 0;
  top: 20%;

  z-index: -1;
}

.reviews__wrapper > h2 {
  font-size: 64px;
  font-family: "Raleway-bl", sans-serif;
  font-weight: 900;
  line-height: 120%;
  width: 645px;
}

.reviews__wrapper > p {
  margin-left: 60px;
  margin-top: 30px;
  width: 645px;
}

.reviews__main__list {
  width: 1035px;
  margin-top: 50px;
}

.reviews__main__list > ul {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.reviews__main__list > ul > li:not(:last-child) {
  display: flex;
  flex-direction: column;

  padding: 30px;
  width: 500px;
  min-height: 550px;

  border: 1px solid var(--color-black);
  border-radius: var(--border-radius-md);
  background: var(--color-white);

  .reviews__stars {
    display: flex;
    gap: 10px !important;
    align-items: center;
  }

  p {
    width: 450px;
    margin-top: 35px;
    line-height: 120%;
  }

  h3 {
    font-family: "Raleway-bd";
    margin-top: 10px;
    font-size: 20px;
  }
}

.reviews__main__list > ul {
  position: relative;
}

.reviews__main__list > ul > li:nth-child(2),
.reviews__main__list > ul > li:nth-child(4),
.reviews__main__list > ul > li:nth-child(6) {
  position: absolute;
  right: 0;
}

.reviews__main__list > ul > li:nth-child(2) {
  top: 3%;
}

.reviews__main__list > ul > li:nth-child(4) {
  top: 37%;
}

.reviews__main__list > ul > li:nth-child(6) {
  top: 73%;
  left: 52%;

  a {
    font-size: 24px;
    border-bottom: 1px solid var(--color-black);
    transition: var(--transition);

    &:hover {
      border-bottom: 1px solid var(--color-purple);
    }
  }
}

.reviews__stars > h3 {
  font-size: 36px !important;
  font-weight: 900;
  font-family: "Raleway-bl", sans-serif !important;
}

// Contacts
.contacts {
  background: #181818;
  padding: 60px;
  margin-top: 100px;

  h2,
  p,
  label {
    color: var(--color-white);
  }
}

.contacts__wrapper__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1260px;
  margin-top: -100px;
}

.contacts__form {
  width: 560px;
  z-index: 9;

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    input[type="text"],
    textarea {
      background: none;
      padding-bottom: 15px;
      border-bottom: 1px solid var(--color-white);
      font-size: 20px;
      color: var(--color-white);
      letter-spacing: 1.1px;
      width: 100%;

      &::placeholder {
        font-size: 24px;
        color: var(--color-white);
        font-family: "Raleway-th", sans-serif;
      }
    }

    textarea {
      height: 150px;
      resize: none;
    }
  }

  button {
    width: 100%;
    padding: 17px;
    background: var(--color-white);
    font-size: 24px;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      right: -4%;
      top: 30%;

      width: 100%;
      height: 100%;

      border: 1px solid var(--color-black);

      z-index: -1;

      transition: var(--transition);
    }

    &:hover {
      &::before {
        right: 0;
        top: 0;
      }
    }
  }
}

.contacts__policy {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;

  label {
    font-size: 16px;

    a {
      text-decoration: underline;
    }
  }
}

.contacts__text {
  width: 660px;
  z-index: 9;

  h2 {
    font-size: 96px;
    line-height: 100%;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
    width: 570px;
    margin-left: 90px;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      width: 170px;
      height: 3px;

      background: var(--color-white);
      right: 10%;
      top: 77%;
    }
  }

  p {
    margin-top: 70px;
  }
}

.contacts {
  position: relative;
}

.contacts__wrapper__images {
  display: flex;

  .contacts__wrapper__image__left {
    position: absolute;

    width: 50%;
    height: 50%;

    right: 50%;
    top: 40%;

    opacity: 0.2;

    background-image: url("../../../public/images/home/contacts-head-left.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    animation-name: fromLeftToRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .contacts__wrapper__image__right {
    position: absolute;

    width: 60%;
    height: 60%;

    left: 50%;
    top: 25%;

    opacity: 0.2;

    background-image: url("../../../public/images/home/contacts-head-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

    animation-name: fromRightToLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

@keyframes fromRightToLeft {
  from {
    left: 100%;
  }

  to {
    left: 50%;
  }
}

@keyframes fromLeftToRight {
  from {
    right: 100%;
  }

  to {
    right: 50%;
  }
}

// Blog
.blog {
  margin-top: 150px;
}

.blog__wrapper {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 60px;
    margin-bottom: 100px;

    li {
      display: flex;
      flex-direction: column;

      width: 500px;
      min-height: 800px;
      background: #f1f1f1;
      padding: 20px;

      a {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-size: 24px;
          font-weight: "Raleway-bl", sans-serif;
        }

        h4 {
          font-size: 20px;
          font-weight: "Raleway", sans-serif;
          color: #666666;
          margin-top: auto;
        }
      }
    }
  }
}

.blog__wrapper > a {
  padding: 20px 100px;
  margin-left: 25px;

  background: var(--color-purple);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-purple);

  transition: var(--transition);

  &:hover {
    background: none;
    color: var(--color-black);
  }
}

.blog__wrapper > h2 {
  font-size: 96px;
  font-weight: 900;
  font-family: "Raleway-bl", sans-serif;
}

.blog__wrapper > p {
  width: 660px;
  margin-left: 60px;
  margin-top: 25px;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    left: -4%;

    width: 10px;
    height: 45px;

    background: var(--color-purple);
  }
}
