.head {
  margin-top: 2.5rem;
  overflow: hidden;
}

.lines__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: -1;

  ul {
    display: flex;
    justify-content: space-between;
    position: absolute;

    width: 100%;
    height: 465rem;
    margin-top: 3.65rem;

    li {
      height: 100%;
      width: 0.05rem;
      background: rgba(122, 122, 122, 0.3);

      &:nth-child(3) {
        margin-right: 0.7rem;
      }
    }
  }
}

.head__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
  }
}

.head__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.head__left h1 {
  font-size: 6.4rem;
  font-family: "Raleway-eb", sans-serif;
  line-height: 103%;
  width: 35.6rem;
  letter-spacing: 2%;

  @media (max-width: 768px) {
    font-size: 15rem;
    margin-top: 10rem;
    width: auto;
  }
}

.head__left p {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  width: 35.6rem;
  line-height: 120%;
  letter-spacing: 2%;

  @media (max-width: 768px) {
    font-size: 3rem;
    width: auto;
    margin-top: 3rem;
  }
}

.head__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.head__links a {
  border-radius: 2rem;
  font-family: "Raleway-md";
}

.head__links a:first-child {
  padding: 1.5rem 6rem;
  background: var(--color-purple);
  color: var(--color-white);
  border: 0.05rem solid var(--color-purple);

  transition: var(--transition);

  &:hover {
    background: none;
    color: var(--color-dark);
  }

  @media (max-width: 768px) {
    padding: 2rem 13rem;
    margin-top: 2rem;
    font-size: 3rem;
  }
}

.head__links a:last-child {
  @media (max-width: 768px) {
    padding: 2rem 13rem;
    margin-top: 2rem;
    font-size: 3rem;
  }

  padding: 1.5rem 3.5rem;
  border: 0.05rem solid var(--color-purple);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 5rem;
    background: var(--color-yellow);
    top: 0;
    left: -100%;

    z-index: -1;
    transition: var(--transition);
  }

  &:hover {
    border: 0.05rem solid var(--color-yellow);

    &::before {
      left: 0%;
    }
  }
}

// Our services
.our__services__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 12rem;
  }
}

.our__services__services {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    right: 0;
    top: -5%;

    width: 100vw;
    height: 0.05rem;

    background: rgba(122, 122, 122, 0.6);
  }
}

.our__services__services ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 7.5rem;
  margin-top: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    font-size: 3rem;

    flex-wrap: nowrap;
  }
}

.our__services__services ul > li {
  width: 19rem;

  @media (max-width: 768px) {
    width: auto;
  }

  h2 {
    font-size: 1.8rem;
    font-family: "Raleway-eb", sans-serif;

    position: relative;

    @media (max-width: 768px) {
      font-size: 3rem;
    }

    @media (max-width: 520px) {
      font-size: 6rem;
    }

    &::before {
      content: "";
      position: absolute;

      left: -1rem;

      height: 3.5rem;
      width: 0.5rem;

      background: var(--color-purple);

      @media (max-width: 520px) {
        height: 15rem;
        width: 1rem;
        left: -2rem;
      }
    }
  }

  p {
    font-weight: 400;
    line-height: 120%;
    margin-top: 0.5rem;
  }
}

.our__services__services ul > li:nth-child(2) {
  h2 {
    &::before {
      background: var(--color-yellow);
    }
  }
}

.our__services__services ul > li:nth-child(3) {
  h2 {
    &::before {
      background: var(--color-dark-gray);
    }
  }
}

.our__services__services ul > li:nth-child(4) {
  h2 {
    &::before {
      background: var(--color-red);
    }
  }
}

.our__services__advantages {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  position: relative;

  @media (max-width: 768px) {
    margin-top: 10rem;
  }

  &::before {
    content: "";
    position: absolute;

    bottom: -55%;

    width: 0.05rem;
    height: 50rem;

    background: rgba(122, 122, 122, 0.6);

    z-index: -1;
  }
}

.our__services__advantages > p {
  width: 25rem;
  letter-spacing: 0.1rem;
  opacity: 0.5;
  margin-left: 1rem;

  @media (max-width: 768px) {
    font-size: 3rem;
    width: auto;
  }
}

.our__services__advantages > ul {
  display: flex;
  width: 26.5rem;
  border: 0.05rem solid rgba(122, 122, 122, 0.6);

  @media (max-width: 768px) {
    width: 56.5rem;
  }
}

.our__services__advantages > ul > li {
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3 {
    font-size: 3.2rem;
    font-weight: normal;

    @media (max-width: 768px) {
      font-size: 6rem;
      margin-top: 5rem;
    }
  }

  p {
    font-size: 0.9rem;

    @media (max-width: 768px) {
      font-size: 3rem;
    }
  }
}

.our__services__advantages > ul > li:last-child {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 0.05rem;
    height: 100%;

    background: rgba(122, 122, 122, 0.6);
  }
}

// Who we are
.whoweare__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3.6rem;
  padding-top: 5rem;
  position: relative;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;

    top: 0;
    left: -50%;

    width: 200%;
    height: 0.05rem;

    background: rgba(122, 122, 122, 0.6);
  }
}

.whoweare__text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 45rem;
  margin-left: 3rem;

  position: relative;

  @media (max-width: 768px) {
    width: auto;
    font-size: 3rem;
    gap: 3rem;
  }

  p {
    line-height: 140%;
  }

  &::before {
    content: "";
    position: absolute;

    left: -1.5rem;

    height: 5.5rem;
    width: 0.5rem;

    background: var(--color-purple);
  }
}

.whoweare__main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.whoweare__main h2 {
  font-size: 4.8rem;
  font-family: "Raleway-bl", sans-serif;

  @media (max-width: 520px) {
    font-size: 8rem;
  }
}

.whoweare__links {
  margin-left: 3rem;

  display: flex;
  gap: 3rem;

  a {
    border-radius: var(--border-radius-md);
    color: var(--color-white);

    &:first-child {
      width: 21.75rem;
      padding: 1rem 8rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-purple);

      position: relative;
      transition: all 0.3s linear;

      @media (max-width: 768px) {
        width: 45%;
        text-align: center;
        font-size: 2.2rem;
      }

      @media (max-width: 520px) {
        font-size: 3rem;
        padding: 2rem;
      }

      &::before {
        content: "";
        position: absolute;

        opacity: 0;

        right: 25%;
        top: 5%;

        width: 2.85rem;
        height: 2.85rem;

        background: url("../../../public/icons/Arrow-Up.svg");
        background-repeat: no-repeat;

        transform: rotate(42deg);
        transition: all 0.3s ease-in-out;

        @media (max-width: 1025px) {
          top: 5%;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      &:hover {
        padding-left: 6rem;
        background: none;
        color: var(--color-black);
        border: 0.05rem solid var(--color-purple);

        &::before {
          opacity: 1;
          right: 30%;

          @media (max-width: 768px) {
            right: 0;
          }
        }

        @media (max-width: 768px) {
          padding-left: 0;
        }
      }
    }

    &:last-child {
      @media (max-width: 768px) {
        width: 45%;
        text-align: center;
        font-size: 2.2rem;
      }

      @media (max-width: 520px) {
        font-size: 3rem;
        padding: 2rem;
      }

      padding: 1rem 5.75rem;
      background: var(--color-dark-gray);
      transition: var(--transition);

      &:hover {
        background: var(--color-red);
      }
    }
  }
}

// Advantages
.advantages {
  margin-top: 5rem;
}

.advantages__wrapper {
  display: flex;
  align-items: center;

  h2 {
    font-size: 3.2rem;
    font-family: "Raleway-th", sans-serif;

    @media (max-width: 768px) {
      font-size: 7.2rem;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;

      left: -1%;
      top: 35%;

      height: 1.5rem;
      width: 8.75rem;

      background: var(--color-yellow);

      z-index: -1;
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  width: 36.25rem;
  gap: 2.5rem;

  @media (max-width: 768px) {
    width: auto;
    font-size: 3rem;
  }
}

.advantages__list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.advantages__list ul li {
  text-indent: 1rem;

  position: relative;
  line-height: 120%;

  &::before {
    content: "";
    position: absolute;

    right: 101%;
    top: 15%;

    width: 0.25rem;
    height: 0.25rem;

    background: var(--color-purple);
  }
}

// Our team
.our__team {
  margin-top: 10rem;

  @media (max-width: 768px) {
    margin-top: 15rem;
  }
}

.our__team__wrapper {
  min-height: 35rem;
}

.our__team__wrapper__top {
  position: relative;
  width: 100%;

  img {
    width: 60rem;
    height: 35rem;
    object-fit: cover;

    @media (max-width: 768px) {
      width: 80rem;
      height: 55rem;
    }
  }

  &::before {
    content: "";
    position: absolute;

    left: 5%;
    top: 5%;

    width: 58.05rem;
    height: 100%;

    border: 0.05rem solid var(--color-black);
    z-index: -1;
  }
}

.our__team__text {
  margin-top: 7.5rem;

  h2 {
    font-size: 3.2rem;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;

    @media (max-width: 768px) {
      font-size: 7.2rem;
    }
  }

  p {
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 140%;
    width: 36.5rem;

    @media (max-width: 768px) {
      font-size: 3rem;
      width: auto;
    }
  }
}

.our__team__list {
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin-top: 12rem;
  }
}

.our__team__list > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 5rem;
  }
}

.our__team__list > ul > li:last-child {
  margin-left: 8.5rem;

  a {
    font-size: 2.4rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;

      top: 40%;
      right: -10%;

      width: 8rem;
      height: 1rem;

      background: var(--color-yellow);
      transition: var(--transition);

      z-index: -1;

      @media (max-width: 520px) {
        width: 14rem;
        height: 3rem;
      }
    }

    &::after {
      content: "";
      position: absolute;

      bottom: 30%;

      width: 3rem;
      height: 3rem;

      background-image: url("../../../public/icons/Arrow-Up.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      transition: var(--transition);

      @media (max-width: 520px) {
        width: 9rem;
        height: 9rem;
      }
    }

    &:hover {
      &::before {
        background: var(--color-red);
      }

      &::after {
        bottom: 40%;
        left: 100%;
      }
    }

    @media (max-width: 520px) {
      font-size: 9rem;
    }
  }
}

.our__team__list > ul > li:not(:last-child) {
  width: 26rem;
  height: 30rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    width: 100%;
    height: 90rem;
  }

  &:nth-child(1) {
    background-image: url("../../../public/images/home/team/team-1.jpg");
  }

  &:nth-child(2) {
    background-image: url("../../../public/images/home/team/team-2.jpg");
  }

  &:nth-child(3) {
    background-image: url("../../../public/images/home/team/team-3.jpg");
  }

  &:nth-child(4) {
    background-image: url("../../../public/images/home/team/team-4.jpg");
  }

  &:nth-child(5) {
    background-image: url("../../../public/images/home/team/team-5.jpg");
  }

  .our__team__list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;

    width: 100%;
    height: 150px;

    @media (max-width: 520px) {
      height: 120px;
    }

    @media (max-width: 376px) {
      height: 100px;
    }

    padding: 15px;
    border: 0.05rem solid var(--color-white);
    border-radius: var(--border-radius-sm);

    backdrop-filter: blur(0.5rem);
    background: rgba(0, 0, 0, 0.2);

    & div:first-child {
      position: relative;

      &::before {
        content: "";
        position: absolute;

        left: 115%;

        width: 0.1rem;
        height: 100%;

        background: var(--color-white);
      }
    }

    h3,
    li {
      font-size: 1rem;
      color: var(--color-white);

      @media (max-width: 768px) {
        font-size: 2rem;
      }

      @media (max-width: 520px) {
        font-size: 4rem;
      }

      @media (max-width: 425px) {
        font-size: 3.1rem;
      }
    }

    p {
      font-size: 1.2rem;
      color: var(--color-white);

      @media (max-width: 768px) {
        font-size: 3rem;
      }

      @media (max-width: 425px) {
        font-size: 4rem;
      }
    }

    ul {
      margin-top: 0.75rem;
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      margin-left: 1rem;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;

          left: -8%;
          top: 25%;

          width: 0.5rem;
          height: 0.5rem;

          background: var(--color-white);
        }
      }
    }
  }
}

// Reviews
.reviews {
  margin-top: 5rem;

  p {
    line-height: 140%;
  }
}

.reviews__content {
  min-height: 90rem;
}

.reviews__main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    display: block;
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: 31.9%;
    right: 0.4%;

    width: 0;
    height: 100%;

    background: url("../../../public/images/home/reviews-line-1.svg");
    background-position: center;
    background-repeat: no-repeat;

    z-index: -100;

    animation-name: drow;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @media (max-height: 686px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;

    bottom: 15%;

    width: 0;
    height: 100%;

    background: url("../../../public/images/home/reviews-line-2.svg");
    background-position: center;
    background-repeat: no-repeat;

    z-index: -100;

    animation-name: drow;
    animation-duration: 3s;
    animation-fill-mode: forwards;

    @media (max-height: 686px) {
      display: none;
    }
  }
}

@keyframes drow {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.reviews__main__image {
  position: absolute;
  right: 0;
  top: 20%;

  z-index: -1;
}

.reviews__wrapper > h2 {
  font-size: 3.2rem;
  font-family: "Raleway-bl", sans-serif;
  font-weight: 900;
  line-height: 120%;
  width: 32.25rem;

  @media (max-width: 425px) {
    font-size: 6rem;
    width: 100%;
  }
}

.reviews__wrapper > p {
  margin-left: 3rem;
  margin-top: 1.5rem;
  width: 32.25rem;

  @media (max-width: 768px) {
    width: auto;
    font-size: 2rem;
  }

  @media (max-width: 425px) {
    font-size: 3rem;
    width: 100%;
  }
}

.reviews__main__list {
  width: 51.75rem;
  margin-top: 2.5rem;

  @media (max-width: 768px) {
    width: auto;
  }
}

.reviews__main__list > ul {
  display: flex;
  flex-direction: column;
  gap: 1.65rem;
}

.reviews__main__list > ul > li:not(:last-child) {
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  width: 25rem;
  min-height: 27.5rem;

  @media (max-width: 768px) {
    width: auto;
    min-height: 0;
    font-size: 2rem;
  }

  @media (max-width: 520px) {
    width: auto;
    min-height: 0;
    font-size: 3rem;
  }

  border: 0.05rem solid var(--color-black);
  border-radius: var(--border-radius-md);
  background: var(--color-white);

  .reviews__stars {
    display: flex;
    gap: 0.5rem !important;
    align-items: center;
  }

  p {
    width: 22.5rem;
    margin-top: 1.75rem;
    line-height: 160%;

    @media (max-width: 768px) {
      width: auto;
    }
  }

  h3 {
    font-family: "Raleway-bd";
    margin-top: 0.5rem;
    font-size: 1rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    @media (max-width: 520px) {
      font-size: 4rem;
    }
  }
}

.reviews__main__list > ul {
  position: relative;
}

.reviews__main__list > ul > li:nth-child(2),
.reviews__main__list > ul > li:nth-child(4),
.reviews__main__list > ul > li:nth-child(6) {
  position: absolute;
  right: 0;

  @media (max-width: 768px) {
    position: static;
  }
}

.reviews__main__list > ul > li:nth-child(2) {
  top: 3%;
}

.reviews__main__list > ul > li:nth-child(4) {
  top: 37%;
}

.reviews__main__list > ul > li:nth-child(6) {
  top: 73%;
  left: 52%;

  a {
    font-size: 1.2rem;
    border-bottom: 0.05rem solid var(--color-black);
    transition: var(--transition);

    &:hover {
      border-bottom: 0.05rem solid var(--color-purple);
    }

    @media (max-width: 768px) {
      font-size: 3rem;
      margin-top: 5rem;
    }

    @media (max-width: 520px) {
      font-size: 4rem;
    }
  }
}

.reviews__stars > h3 {
  font-size: 1.8rem !important;
  font-weight: 900;
  font-family: "Raleway-bl", sans-serif !important;

  @media (max-width: 768px) {
    font-size: 4rem !important;
  }
}

// Contacts
.contacts {
  background: #181818;
  padding: 3rem;
  margin-top: 5rem;

  overflow: hidden;

  h2,
  p,
  label {
    color: var(--color-white);
  }
}

.contacts__wrapper__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 63rem;
  margin-top: -5rem;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin-top: 2rem;
  }
}

.contacts__form {
  width: 28rem;
  z-index: 9;

  @media (max-width: 768px) {
    width: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 768px) {
      gap: 3rem;
    }

    @media (max-width: 520px) {
      gap: 4rem;
      margin-top: 5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background: none;
      padding-bottom: 0.75rem;
      border-bottom: 0.05rem solid var(--color-white);
      font-size: 1rem;
      color: var(--color-white);
      letter-spacing: 0.055rem;
      width: 100%;

      @media (max-width: 768px) {
        font-size: 3rem;
        border-radius: 0;
      }

      &::placeholder {
        font-size: 1.2rem;
        color: var(--color-white);
        font-family: "Raleway-th", sans-serif;

        @media (max-width: 768px) {
          font-size: 3.2rem;
        }
      }
    }

    textarea {
      height: 7.5rem;
      resize: none;

      @media (max-width: 768px) {
        height: auto !important;
      }
    }
  }

  button {
    width: 100%;
    padding: 0.85rem;
    background: var(--color-white);
    font-size: 1.2rem;

    @media (max-width: 768px) {
      font-size: 2.5rem;
      margin-top: 5rem;
      padding: 2rem;
    }

    position: relative;
    transition: 0.2s ease;

    &::before {
      content: "";
      position: absolute;

      right: -4%;
      top: 30%;

      width: 100%;
      height: 100%;

      border: 0.05rem solid var(--color-black);

      z-index: -1;

      transition: var(--transition);
    }

    &:hover {
      &::before {
        right: 0;
        top: 0;
      }
    }
  }
}

.contacts__policy {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;

  label {
    font-size: 0.8rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }

    a {
      text-decoration: underline;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}

.contacts__text {
  width: 33rem;
  z-index: 9;

  @media (max-width: 768px) {
    width: auto;
  }

  h2 {
    font-size: 4.8rem;
    line-height: 100%;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
    width: 28.5rem;
    margin-left: 4.5rem;

    position: relative;

    @media (max-width: 768px) {
      width: auto;
      margin-left: 0;
    }

    @media (max-width: 520px) {
      font-size: 6rem;
    }

    &::before {
      content: "";
      position: absolute;

      width: 8.5rem;
      height: 0.15rem;

      background: var(--color-white);
      right: 10%;
      top: 77%;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  p {
    margin-top: 3.5rem;

    @media (max-width: 768px) {
      margin: 1.8rem 0 3.2rem 0;
      font-size: 2rem;
    }

    @media (max-width: 520px) {
      font-size: 3rem;
    }
  }
}

.contacts {
  position: relative;
}

.contacts__wrapper__images {
  display: flex;

  .contacts__wrapper__image__left {
    position: absolute;

    width: 57.75rem;
    height: 22.75rem;

    right: 50%;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0.2;

    // background-image: url("../../../public/images/home/contacts-head-left.svg");
    // background-position: center;
    // background-repeat: no-repeat;
    z-index: 1;

    animation-name: fromLeftToRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .contacts__wrapper__image__right {
    position: absolute;

    width: 54.55rem;
    height: 26.25rem;

    left: 50%;
    top: 50%;
    transform: translateY(-50%);

    opacity: 0.2;

    z-index: 1;

    animation-name: fromRightToLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

@keyframes fromRightToLeft {
  from {
    left: 100%;
  }

  to {
    left: 50%;
  }
}

@keyframes fromLeftToRight {
  from {
    right: 100%;
  }

  to {
    right: 50%;
  }
}

// Blog
.blog {
  margin-top: 7.5rem;
}

.blog__wrapper {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 3rem;
    margin-bottom: 5rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 3.5rem;
    }

    li {
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 22.45rem;
        object-fit: cover;

        @media (max-width: 768px) {
          height: 40rem;
        }
      }

      a {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 25rem;
        min-height: 40rem;
        background: #f1f1f1;
        padding: 1rem;
        transition: var(--transition);

        @media (max-width: 768px) {
          width: auto;
        }

        h3 {
          font-size: 1.2rem;
          font-weight: "Raleway-bl", sans-serif;

          @media (max-width: 768px) {
            font-size: 3.7rem;
          }

          @media (max-width: 520px) {
            font-size: 4rem;
          }
        }

        h4 {
          font-size: 1rem;
          font-weight: "Raleway", sans-serif;
          color: #666666;
          margin-top: auto;

          @media (max-width: 768px) {
            font-size: 1.5rem;
          }

          @media (max-width: 520px) {
            font-size: 2rem;
          }
        }

        &:hover {
          background: rgba(241, 241, 241, 0.5);
        }
      }
    }
  }
}

.blog__article_subtitle {
  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 520px) {
    font-size: 3rem;
  }
}

.blog__wrapper > a {
  padding: 1rem 5rem;
  margin-left: 1.25rem;

  background: var(--color-purple);
  color: var(--color-white);
  border-radius: var(--border-radius-sm);
  border: 0.05rem solid var(--color-purple);

  transition: var(--transition);

  &:hover {
    background: none;
    color: var(--color-black);
  }

  @media (max-width: 768px) {
    width: 100%;
    display: block;

    text-align: center;
    font-size: 2.5rem;

    margin-left: 0;
  }
}

.blog__wrapper > h2 {
  font-size: 4.8rem;
  font-weight: 900;
  font-family: "Raleway-bl", sans-serif;
}

.blog__wrapper > p {
  width: 33rem;
  margin-left: 3rem;
  margin-top: 1.25rem;

  position: relative;

  @media (max-width: 768px) {
    width: auto;
    font-size: 2.5rem;
  }

  @media (max-width: 520px) {
    font-size: 3rem;
  }

  &::before {
    content: "";
    position: absolute;

    left: -4%;

    width: 0.5rem;
    height: 2.25rem;

    background: var(--color-purple);
  }
}

.head__figure {
  width: 35.3rem;
  height: 38.85rem;

  margin-left: auto;

  @media (max-width: 768px) {
    width: 85.3rem;
    height: 88.85rem;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 10rem;
  }
}

.about_statue {
  width: 26.35rem;
  height: 28.7rem;

  @media (max-width: 768px) {
    width: 56.35rem;
    height: 58.7rem;

    margin-top: 7rem;
  }
}

.adv_statue_iamge {
  width: 32.9rem;
  height: 33rem;

  @media (max-width: 768px) {
    display: none;
  }
}

.home_star_svg {
  width: 2.5rem;
  height: 2.4rem;

  @media (max-width: 768px) {
    width: 4.5rem;
    height: 4.4rem;
  }
}

.review__statie_image {
  width: 29.05rem;
  height: 37.25rem;
}
