.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;

  font-size: .8rem;
}

.header__wrapper nav > ul {
  display: flex;
  gap: 1.75rem;
}

.header__wrapper nav > ul > li > a {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: 0;

    width: 0%;
    height: .05rem;

    background: var(--color-black);

    transition: var(--transition);
  }
}

.header__wrapper nav > ul a:hover::before {
  width: 100%;
}

.header__wrapper nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo svg {
  width: 17.5rem;
  height: auto;

  @media (max-width: 26.75rem) {
    width: 15rem;
  }

  @media (max-width: 20.2rem) {
    width: 10rem;
  }
}

.header__wrapper nav {
  @media (max-width: 69rem) {
    display: none;
  }
}

.header__contact a {
  padding: .8rem 1.75rem;
  background: var(--color-black);
  color: #fff;
  border-radius: 1.8rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s linear;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    width: 2rem !important;
    height: 2rem !important;
    background: radial-gradient(
      circle,
      rgb(156, 68, 244) 0%,
      rgba(123, 34, 211, 1) 100%
    ) !important;
    border-radius: 50%;
    transform: scale(0); /* Начальный масштаб 0 */
    transform-origin: center;
    transition: transform 0.3s linear;
    z-index: 1;
  }
}

.header__contact a:hover {
  &::before {
    transform: scale(8);
  }
}

.header__contact span {
  position: relative;
  z-index: 2; /* Убедитесь, что это значение больше, чем у псевдоэлемента */
}

/* Дополнительный стиль для span, чтобы сделать текст другого цвета */
.header__contact span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference; /* Этот стиль создаст эффект вычитания */
  z-index: -1; /* Убедитесь, что это значение меньше, чем у псевдоэлемента */
}

.header__menu {
  width: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  cursor: pointer;
}

.header__menu__box {
  background: var(--color-black);
  width: .5rem;
  height: .5rem;
}

.current__language {
  padding: .5rem 1.5rem .5rem .5rem;
  border: .05rem solid var(--color-black);
  border-radius: 1rem;

  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;

    right: 15%;
    top: 35%;

    width: 0rem;
    height: 0rem;
    border-style: solid;
    border-width: .5rem .325rem 0 .325rem;
    border-color: #000000 transparent transparent transparent;
    transform: rotate(0deg);
  }
}

.header__active {
  div {
    transition: all 0.2s ease;

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(4) {
      opacity: 0;
    }

    &:nth-child(6) {
      opacity: 0;
    }

    &:nth-child(8) {
      opacity: 0;
    }
  }
}

.header__language {
  position: relative;
  z-index: 9;
}

.header__language__list {
  position: absolute;
  top: 2.5rem;

  border: .05rem solid var(--color-black);
  width: 100%;
  border-radius: .5rem;
  padding: .5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: .5rem;

  li {
    button {
      background: none;
      text-transform: uppercase;
    }
  }
}
