.presentation__top {
  margin-top: 60px;

  h1 {
    font-size: 96px;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;
    text-align: center;

    @media (max-height: 1440px) {
      font-size: 64px;
    }

    @media (max-width: 620px) {
      font-size: 48px;
      font-family: "Raleway-bd", sans-serif;
      font-weight: 700;
    }
  }

  p {
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.presentation__top__wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  gap: 100px;

  margin-top: 40px;

  @media (max-height: 1440px) {
    flex-direction: column;
  }

  img {
    @media (max-width: 705px) {
      width: 90vw;
      height: 100%;
    }
  }
}

.presentation__top__text {
  display: flex;
  flex-direction: column;
  gap: 50px;

  p {
    text-indent: 20px;
  }
}

.presentation__values__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 125px;

  h2 {
    font-size: 64px;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;
    text-align: left;

    @media (max-width: 620px) {
      font-size: 24px;
      font-family: "Raleway-bd", sans-serif;
      font-weight: 700;
    }
  }

  p {
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;

    li {
      width: 480px;
      height: auto;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: 15px;

      .presentation__image {
        width: 480px;
        height: 480px;
        overflow: hidden;
        border-radius: 30px;

        img {
          width: 480px;
          height: 480px;
          object-fit: cover;
          border-radius: 30px;
          transition: 0.3s ease-in;

          @media (max-width: 620px) {
            width: 100%;
            height: 100%;
          }
        }

        @media (max-width: 620px) {
          width: 100%;
          height: 100%;
        }
      }

      h3 {
        font-size: 36px;
        font-weight: 900;
        font-family: "Raleway-bl", sans-serif;

        @media (max-width: 620px) {
          font-size: 24px;
          font-family: "Raleway-bd", sans-serif;
          font-weight: 700;
        }
      }

      &:hover {
        img {
          transform: scale(1.2) rotate(10deg);
        }
      }

      @media (max-width: 620px) {
        width: 100%;
      }
    }

    @media (max-width: 1800px) {
      flex-direction: column;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 620px) {
    margin-top: 40px;
  }
}

.presentation__idea {
  margin-top: 120px;

  h2 {
    font-size: 48px;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;

    @media (max-width: 620px) {
      font-size: 24px;
      font-family: "Raleway-bd", sans-serif;
      font-weight: 700;
    }
  }

  p {
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }

  @media (max-width: 620px) {
    margin-top: 20px;
  }
}

.presentation__idea__wrapper {
  margin-top: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;

  .presentation__left__image {
    display: flex;
    gap: 30px;

    @media (max-width: 990px) {
      flex-direction: column;
    }

    img {
      @media (max-width: 620px) {
        width: 90vw;
        height: 100%;
      }
    }
  }

  p {
    text-indent: 20px;
  }

  @media (max-width: 1800px) {
    flex-direction: column;
  }

  @media (max-width: 620px) {
    margin-top: 20px;
  }
}

.presentation__left,
.presentation__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.presentation__right {
  gap: 20px;

  p {
    margin-left: 30px;
  }

  img {
    @media (max-width: 620px) {
      width: 90vw;
      height: 100%;
    }
  }
}

.presentation__deposits {
  margin-top: 120px;

  p {
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.presentation__deposits__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

  .presentation__deposits__left {
    h2 {
      font-size: 48px;
      font-weight: 900;
      font-family: "Raleway-bl", sans-serif;
      margin-bottom: 20px;

      @media (max-width: 620px) {
        font-size: 24px;
        font-family: "Raleway-bd", sans-serif;
        font-weight: 700;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  @media (max-width: 1460px) {
    flex-direction: column;
    align-items: start;
  }

  img {
    @media (max-width: 705px) {
      width: 75vw;
      height: 100%;
    }
  }
}

.presentation__ambitions {
  margin-top: 120px;

  p {
    font-size: 16px;

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
}

.presentation__ambitions__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;

  @media (max-width: 1285px) {
    flex-direction: column-reverse;
    gap: 40px;
  }

  img {
    @media (max-width: 705px) {
      width: 75vw;
      height: 100%;
    }
  }
}

.presentation__ambitions__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;

  @media (max-width: 1285px) {
    margin-top: 10px;
  }
}

.presentation__ambitions__right {
  display: flex;
  flex-direction: column;
  gap: 30px;

  h2 {
    font-size: 48px;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;

    @media (max-width: 620px) {
      font-size: 24px;
      font-family: "Raleway-bd", sans-serif;
      font-weight: 700;
    }
  }
}
