.presentation__top {
  margin-top: 3rem;

  h1 {
    font-size: 4.8rem;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;
    text-align: center;
  }
}

.presentation__top__wrapper {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  margin-top: 2rem;
}

.presentation__top__text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  p {
    text-indent: 1rem;
  }
}

.presentation__values__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 6.25rem;

  h2 {
    font-size: 3.2rem;
    font-family: "Raleway-bl", sans-serif;
    font-weight: 900;
    text-align: left;
  }

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;

    li {
      width: 24rem;
      height: auto;
      text-align: center;

      display: flex;
      flex-direction: column;
      gap: .75rem;

      .presentation__image {
        width: 24rem;
        height: 24rem;
        overflow: hidden;
        border-radius: 1.5rem;

        img {
          width: 24rem;
          height: 24rem;
          object-fit: cover;
          border-radius: 1.5rem;
          transition: 0.3s ease-in;
        }
      }

      h3 {
        font-size: 1.8rem;
        font-weight: 900;
        font-family: "Raleway-bl", sans-serif;
      }

      &:hover {
        img {
          transform: scale(1.2) rotate(10deg);
        }
      }
    }
  }
}

.presentation__idea {
  margin-top: 6rem;

  h2 {
    font-size: 2.4rem;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
  }
}

.presentation__idea__wrapper {
  margin-top: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;

  .presentation__left__image {
    display: flex;
    gap: 1.5rem;
  }

  p {
    text-indent: 1rem;
  }
}

.presentation__left,
.presentation__right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.presentation__right {
  gap: 1rem;

  p {
    margin-left: 1.5rem;
  }
}

.presentation__deposits {
  margin-top: 6rem;
}

.presentation__deposits__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;

  .presentation__deposits__left {
    h2 {
      font-size: 2.4rem;
      font-weight: 900;
      font-family: "Raleway-bl", sans-serif;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}

.presentation__ambitions {
  margin-top: 6rem;
}

.presentation__ambitions__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.presentation__ambitions__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 5rem;
}

.presentation__ambitions__right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-size: 2.4rem;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
  }
}
