.policy__wrapper {
  margin-top: 80px;
}

.policy__title h1 {
  font-size: 64px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
  font-family: "Raleway-md", sans-serif;
}

.policy__container {
  margin-top: 60px;
}

.policy__container > ol {
  display: flex;
  flex-direction: column;
  gap: 40px;

  ol {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }

  h3 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    color: #4a4a4a;
    line-height: 180%;
  }
}
