.footer__main,
.footer__copyright {
  display: flex;
  justify-content: space-between;

  color: var(--color-white);

  @media (max-width: 1300px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__left {
  display: flex;
  flex-direction: column;

  gap: 10px;

  svg {
    margin-bottom: 20px;

    width: 350px;
    height: auto;

    @media (max-width: 535px) {
      width: 300px;
    }

    @media (max-width: 404px) {
      width: 200px;
    }
  }

  a {
    font-family: sans-serif;
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1300px) {
    justify-content: center;
    align-items: center;
  }
}

.footer__navs {
  margin-top: 40px;
}

.footer__navs nav {
  display: flex;
  gap: 100px;
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      a {
        @media (max-width: 425px) {
          font-size: 14px;
        }
      }
    }

    @media (max-width: 425px) {
      gap: 10px;
    }
  }

  @media (max-width: 355px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__socials {
  margin-top: 40px;

  ul {
    margin-top: 25px;
  }

  svg {
    path {
      fill: var(--color-white) !important;
    }
  }
}

.footer__copyright {
  position: relative;

  margin-top: 100px;

  &::before {
    content: "";
    position: absolute;

    left: 50%;
    right: 50%;

    transform: translate(-50%, 50%);

    width: 100vw;
    height: 1px;

    background: rgba(255, 255, 255, 0.3);
  }

  aside {
    margin-top: 25px;

    &:first-child {
      p {
        font-family: sans-serif;
        &:first-child {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }

    a {
      text-decoration: underline;
    }
  }

  @media (max-width: 1300px) {
    &::before {
      top: 0%;
    }
  }

  p {
    @media (max-width: 425px) {
      font-size: 16px;
    }
  }
}
