@font-face {
  font-family: "Raleway-th";
  src: local("/fonts/Raleway-Thin.ttf"),
    url("/fonts/Raleway-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: local("/fonts/Raleway-Regular.ttf"),
    url("/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-md";
  src: local("/fonts/Raleway-Medium.ttf"),
    url("/fonts/Raleway-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-sb";
  src: local("/fonts/Raleway-SemiBold.ttf"),
    url("/fonts/Raleway-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-bd";
  src: local("/fonts/Raleway-Bold.ttf"),
    url("/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-eb";
  src: local("/fonts/Raleway-ExtraBold.ttf"),
    url("/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-bl";
  src: local("/fonts/Raleway-Black.ttf"),
    url("/fonts/Raleway-Black.ttf") format("truetype");
}
