:root {
  /* COLORS */
  --color-white: #fff;
  --color-black: #000;
  --color-purple: #7b22d3;
  --color-yellow: #f5ec9b;
  --color-purple-secondary: #7100e2;
  --color-dark-gray: #353535;
  --color-red: #ff5e5e;

  /* BORDER RADIUS */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 30px;

  /* TRANSITION */
  --transition: all 0.2s linear;
}
