.quiz {
  margin-top: 100px;

  h2 {
    font-size: 64px;
    margin-bottom: 60px;
    width: 1035px;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
  }
}

.quiz__wrapper {
  display: flex;
  align-items: center;
}

.quiz__options {
  width: 100%;
  border: 1px solid #a2a2a2;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 800px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 40px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #b4b4b4;
    padding: 15px;
    border-radius: var(--border-radius-sm);
    position: relative;

    cursor: pointer;

    transform-style: preserve-3d;

    .quiz__option__text {
      width: 580px;
      margin-left: 60px;

      h4 {
        font-size: 36px;
        font-weight: 700;
        font-family: "Raleway-bd", sans-serif;
      }

      p {
        font-size: 16px;
      }
    }

    &::before {
      content: "";
      position: absolute;

      width: 100%;
      height: 100%;

      background: rgba(255, 255, 255, 0.1);
      border-radius: var(--border-radius-sm);
      backdrop-filter: blur(20px);

      transform: translateZ(-1px);

      top: 0;
      left: 0;
    }

    svg {
      margin-right: 20px;
      transition: var(--transition);
    }

    &:hover {
      svg {
        margin-right: 0;
      }
    }
  }

  li > div {
    display: flex;
    align-items: center;
  }

  &::before {
    content: "";
    position: absolute;

    left: 50%;

    width: 100%;
    height: 100%;

    background: url("../../../public/images/quiz/quiz-image-1.png");
    background-repeat: no-repeat;
  }
}

.quiz__info {
  text-align: center;
  width: 640px;
  background: var(--color-yellow);
  padding: 35px;
  height: 800px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.quiz__info > p {
}

.quiz__info__main {
  margin-top: 180px;

  h3 {
    font-size: 36px;
    font-weight: 900;
    font-family: "Raleway-bl", sans-serif;
    text-align: center;
    line-height: 120%;
  }

  p {
    margin-top: 10px;
  }
}

.quiz__wrapper__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-yellow);
  padding: 60px;

  gap: 20px;

  text-align: center;

  h2 {
    margin-bottom: 0;
    width: auto;
  }

  .quiz__wrapper__text {
    p {
      width: 1050px;
    }
  }
}

.quiz__wrapper__contact__type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  form {
    display: flex;
    gap: 10px;
  }
}

.quiz__wrapper__contact > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  input,
  textarea {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--color-black);
    font-size: 20px;
    font-weight: 400;

    &::placeholder {
      font-weight: 400;
      font-family: "Raleway", sans-serif;
    }
  }

  textarea {
    height: 210px;
    resize: none;
  }

  button {
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    color: var(--color-white);
    background: var(--color-purple);

    transition: var(--transition);

    &:hover {
      background: var(--color-black);
    }
  }
}
