.requisites__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;

  @media (max-width: 1320px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

.requisites__left,
.requisites__right {
  h2 {
    font-size: 32px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 55px;

    li {
      display: flex;
      justify-content: space-between;
      width: 625px;

      p {
        font-size: 20px;

        &:first-child {
          width: 225px;

          @media (max-width: 727px) {
            font-family: "Raleway-sb", sans-serif;
            font-weight: 600;
            width: 100%;
          }
        }

        &:last-child {
          width: 310px;

          @media (max-width: 727px) {
            width: 100%;
          }
        }
      }

      @media (max-width: 727px) {
        flex-direction: column;
        gap: 10px;
        width: 100%;
      }
    }
  }
}
