.services {
  margin-top: 80px;
}

.servies__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 25px;
    font-size: 64px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
  }

  p {
    text-align: center;
    width: 1220px;
  }

  ul {
    margin-top: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 60px;

    li {
      border-bottom: 2px solid var(--color-black);

      a {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h2 {
          position: relative;
          font-family: "Raleway", sans-serif;
          font-weight: 400;

          &::before {
            content: "";
            position: absolute;

            top: 15%;

            width: 0;
            height: 20px;

            background: var(--color-yellow);
            transition: var(--transition);

            z-index: -1;
          }
        }

        svg {
          margin-right: 10px;
          transition: var(--transition);
        }

        p {
          font-size: 14px;
          width: 800px;
          text-align: left;
          transition: var(--transition);
        }

        &:hover {
          h2 {
            &::before {
              width: 100%;
            }
          }

          svg {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.services__contacts {
  margin-top: 250px;
}

.services__contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.servies__contacts__text {
  width: 800px;

  h3 {
    font-size: 48px;
    width: 430px;
    font-family: "Raleway-sb", sans-serif;
    font-weight: 600;
  }

  p {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    width: 780px;

    &::before {
      content: "";
      position: absolute;

      left: -2%;

      width: 10px;
      height: 60px;

      background: var(--color-purple);
    }
  }

  a {
    display: block;

    text-align: center;
    width: 650px;
    margin-top: 40px;

    background: var(--color-yellow);
    padding: 20px;

    transition: var(--transition);
    border-radius: 5px;

    &:hover {
      background: var(--color-purple);
      color: var(--color-white);
    }
  }
}

.servies__contacts__image {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: -10%;

    width: 625px;
    height: 720px;

    background: var(--color-purple);

    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 5%;

    width: 625px;
    height: 720px;

    border: 1px solid var(--color-black);

    z-index: -2;
  }
}
