.services {
  margin-top: 4rem;
}

.servies__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 1.25rem;
    font-size: 3.2rem;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
  }

  p {
    text-align: center;
    width: 61rem;
  }

  ul {
    margin-top: 5rem;
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 3rem;

    li {
      border-bottom: .1rem solid var(--color-black);
      padding-bottom: .5rem;

      a {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h2 {
          position: relative;
          font-family: "Raleway", sans-serif;
          font-weight: 400;

          &::before {
            content: "";
            position: absolute;

            top: 15%;

            width: 0;
            height: 1rem;

            background: var(--color-yellow);
            transition: var(--transition);

            z-index: -1;
          }
        }

        svg {
          margin-right: .5rem;
          transition: var(--transition);
        }

        p {
          font-size: .7rem;
          width: 40rem;
          text-align: left;
          transition: var(--transition);
        }

        &:hover {
          h2 {
            &::before {
              width: 100%;
            }
          }

          svg {
            margin-right: 0;
          }
        }
      }
    }
  }
}

.services__contacts {
  margin-top: 12.5rem;
}

.services__contacts__wrapper {
  display: flex;
  justify-content: space-between;
}

.servies__contacts__text {
  width: 40rem;

  h3 {
    font-size: 2.4rem;
    width: 21.5rem;
    font-family: "Raleway-sb", sans-serif;
    font-weight: 600;
  }

  p {
    margin-top: 1rem;
    margin-left: 1.5rem;
    position: relative;
    width: 39rem;

    &::before {
      content: "";
      position: absolute;

      left: -3%;

      width: .5rem;
      height: 3rem;

      background: var(--color-purple);
    }
  }

  a {
    display: block;

    text-align: center;
    width: 32.5rem;
    margin-top: 2rem;

    background: var(--color-yellow);
    padding: 1rem;

    transition: var(--transition);
    border-radius: .25rem;

    &:hover {
      background: var(--color-purple);
      color: var(--color-white);
    }
  }
}

.servies__contacts__image {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: -10%;

    width: 31.25rem;
    height: 36rem;

    background: var(--color-purple);

    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 5%;

    width: 31.25rem;
    height: 36rem;

    border: .05rem solid var(--color-black);

    z-index: -2;
  }
}
