.blog__panel {
  margin-top: 100px;
}

.blog__panel__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  aside {
    display: flex;
    align-items: center;
    gap: 45px;

    input {
      padding: 30px;
      width: 750px;
      letter-spacing: 1.1px;

      border: 1px solid var(--color-black);
      border-radius: 42px;
    }
  }
}

.blog__select__main,
.blog__date {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  gap: 10px;

  height: 85px;
  padding: 5px 20px 5px 80px;
  border: 1px solid var(--color-black);
  border-radius: 42px;

  p {
    color: #7b7b7b;
  }

  &::before {
    content: "";
    position: absolute;
    left: 5%;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 10px 0 10px;
    border-color: #000000 transparent transparent transparent;
    border-radius: 5px;
  }

  svg {
    margin-left: 20px;
  }
}

.blog__date {
  height: 85px;

  &::before {
    left: 20%;
  }
}

.blog__list {
  margin-top: 120px;
}

.blog__list__wrapper > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 120px;

  li {
    display: flex;
    align-items: center;
    gap: 50px;

    img {
      border-radius: var(--border-radius-sm);

      width: 590px;
      height: 620px;

      object-fit: cover;

      @media (max-width: 1365px) {
        width: 360px;
        height: 380px;
      }

      @media (max-width: 1224px) {
        width: 80vw;
        height: 400px;
      }
    }

    @media (max-width: 1224px) {
      flex-direction: column;
    }
  }
}

.blog__list__main {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Raleway-bd", sans-serif;

    @media (max-width: 1500px) {
      font-size: 32px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;

    li {
      padding: 18px 60px;
      border: 1px solid var(--color-black);
      border-radius: 30px;
    }

    @media (max-width: 555px) {
      gap: 10px;
    }
  }

  p {
    font-size: 20px;

    @media (max-width: 425px) {
      font-size: 16px;
    }
  }

  @media (max-width: 1500px) {
    gap: 20px;
  }
}

.blog__list__main > p {
  text-indent: 20px;
}

.blog__buttons {
  display: flex;
  gap: 45px;

  a {
    width: 70%;
    padding: 20px;
    text-align: center;

    background: var(--color-purple);
    color: var(--color-white);

    border: 1px solid var(--color-purple);
    border-radius: 15px;

    transition: var(--transition);
    font-size: 20px;

    @media (max-width: 425px) {
      font-size: 16px;
    }

    &:hover {
      background: none;
      color: var(--color-black);
    }

    @media (max-width: 555px) {
      width: 100%;
    }
  }

  button {
    width: 30%;
    background: var(--color-black);
    color: var(--color-white);

    border-radius: 15px;
    font-size: 20px;

    @media (max-width: 425px) {
      font-size: 16px;
    }

    @media (max-width: 555px) {
      width: 100%;
      padding: 20px;
    }
  }

  @media (max-width: 1500px) {
    gap: 20px;
  }

  @media (max-width: 555px) {
    flex-direction: column;
  }
}

/* PERSONAL POST PAGE STYLES */
.blog__head {
  margin-top: 120px;
}

.blog__head__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 250px;

  .blog__head__left {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 64px;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--color-purple);

      @media (max-width: 1275px) {
        font-size: 48px;
      }

      @media (max-width: 605px) {
        font-size: 32px;
      }
    }

    p {
      line-height: 120%;

      &:last-child {
        font-family: "Raleway-md", sans-serif;
        font-size: 18px;
      }

      @media (max-width: 605px) {
        font-size: 14px;
      }
    }

    @media (max-width: 925px) {
      width: 100%;
    }
  }

  .blog__head__right {
    margin-top: auto;
    margin-bottom: -60px;

    h2 {
      margin-bottom: 20px;
      font-size: 32px;
      font-family: "Raleway-md", sans-serif;

      @media (max-width: 605px) {
        font-size: 24px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 20px;

      li {
        a {
          position: relative;
          font-size: 20px;
          transition: all 0.2s ease;

          &::before {
            content: "";
            position: absolute;

            left: -10px;
            top: 10%;

            width: 3px;
            height: 20px;

            background: var(--color-purple);
            transition: all 0.2s ease;
            z-index: -1;
          }
        }

        &:hover {
          a {
            color: var(--color-white);

            &::before {
              width: 105%;
            }
          }
        }
      }
    }

    @media (max-width: 1275px) {
      margin-top: 20px;
    }
  }

  @media (max-width: 1275px) {
    flex-direction: column;
  }
}

.blog__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
}

.blog__main__wrapper {
  width: 1000px;
  border-left: 1px solid #d9d9d9;
  padding-left: 20px;

  border-right: 1px solid #d9d9d9;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      p {
        line-height: 160%;

        span {
          font-family: "Raleway-sb", sans-serif;
          font-weight: 600;
        }

        i {
          font-style: italic;
        }

        @media (max-width: 520px) {
          font-size: 14px;
        }
      }

      h3 {
        font-size: 40px;
        font-family: "Raleway-bd", sans-serif;
        font-weight: 700;

        @media (max-width: 605px) {
          font-size: 24px;
        }
      }
    }
  }

  @media (max-width: 1060px) {
    width: 100%;
  }
}
